docs
.vscode
.travis.yml
/src
.editorconfig
.eslintignore
.eslintrc.js
tsconfig.json
.prettierrc
.prettierignore
.ncurc.yml
coverage
.husky/*
.github/*
tsconfig.tsbuildinfo
tests/*
lib/**/*.map
.lintstagedrc
eslint.config.ts
